{
  "presets": ["latest", "react"],
  "plugins": [
    "babel-plugin-transform-class-properties",
    "babel-plugin-transform-object-rest-spread",
    "babel-plugin-transform-regenerator",
    "babel-plugin-transform-runtime",
    "babel-plugin-transform-react-constant-elements"
  ]
}
