.ListWrapper {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  color: #4d4d4d;
  height: 100%;
}

.ListHeader {
  padding: 9px 6px 3px 6px;
  background-color: #e6e6e6;
}

.ListContainer {
  flex: 1;
}

.ListTitle {
  min-height: 20px;
  font-weight: bold;
}

.ListActions {
  min-height: 20px;
  display: flex;
  align-items: center;
}

.ListActionItem {
  align-self: center;
}

.List {
  outline: none;
  background-color: #e6e6e6;
}

.ListPlaceholder {
  color: #c4c9cc;
  background-color: #c4c9cc;
}
