@import 'react-virtualized/styles.css';

.KanbanDragLayer {
  position: fixed;
  pointer-events: none;
  z-index: 100;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.KanbanGrid {
  outline: none;
}

.KanbanList {
  outline: none;
}

/* ListPreview */
.ListPreviewWrapper {
  transform: rotate(4deg);
}

/* List */
.ListWrapper {
  padding: 8px 4px 8px 4px;
  margin: 0 4px;
  box-sizing: border-box;
  position: relative;
}

.ListContainer {
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  color: #4d4d4d;
  background-color: #e6e6e6;
  height: 100%;
  align-items: stretch;
}

.ListPlaceholder {
  background-color: rgba(0, 0, 0, .2);
}

.ListPlaceholder .ListHeader,
.ListPlaceholder .ListContent,
.ListPlaceholder .ListFooter {
  opacity: 0;
}

.ListHeader {
  padding: 8px 10px;
  flex: 0 1 10px;
  /*flex-shrink: 0;
  flex-basis: auto;*/
}

.ListContent {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
  margin: 0 4px;
  padding: 0 4px;
}

.ListFooter {
  flex: 0 1 auto;
  /*flex-grow: 1;
  flex-shrink: 0;
  flex-basis: auto;*/
}

.ListTitle {
  min-height: 20px;
  font-weight: bold;
}

.ListActions {
  padding: 8px 10px;
  display: flex;
  align-items: center;
}

.ListActionItem {
  background: none;
  border: medium none;
  cursor: pointer;
  font-size: 14px;
  color: #8c8c8c;
}

/* ItemPreview */
.ItemPreviewWrapper {
  transform: rotate(4deg);
}

/* Item */
.ItemWrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  padding: 5px;
  box-sizing: border-box;
}

.ItemContainer {
  padding: 6px 6px 2px 8px;
  width: 100%;
  height: 100%;
  border-color: darkgray;
  border-radius: 3px;
  background-color: white;
  flex: 1;
  box-shadow: 1px 1px 0px 0px #ccc;
  box-sizing: border-box;
}

.ItemPlaceholder {
  background-color: #C4C9CC;
}

.ItemPlaceholder .ItemContent {
  opacity: 0;
}

.ItemContent p {
  margin: 0;
}
