.List {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  direction: ltr;
  position: relative;
  will-change: transform;
  overflow: auto;
  margin: auto;
}

.innerScrollContainer {
  position: absolute;
  width: 100%;
  overflow: hidden;

  display: flex;
  transform: translateZ(0);
}

.innerScrollList {
  display: flex;
}

.Burger {
  visibility: hidden;
}
